/* ---------- GLOBAL STYLES ---------- */
* {
    box-sizing: border-box;
}

body,
.header {
    background: rgb(255, 255, 255);
    /* background: rgb(61, 60, 60); */
    /* font-family: 'Segoe UI'; */
    font-family: "Roboto Mono", monospace;
}

body,
.header,
p, 
a:link {
    color: black;    
}

html {
    /* background: #ffa949; */
}

h1,
h2,
h3,
h4, {
    margin-bottom: 10px;  
}

img {
    border-radius: 10px;
    box-shadow: 0 10px 50px 10px rgba(0, 0, 0, .8);
}

th {
    font-weight: normal;
}

th,
td {
    border: none;
}

a:link {
    text-decoration: none;
}

.main-footer {
    bottom: 0;
}

/* ---------- index.js ---------- */
.post-preview-title {
    margin-bottom: 0;
}

.main {
    margin-bottom: 20px;
}

.blog-preview {    
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, .8);
    padding: 20px 20px 0 20px;
    margin-bottom: 25px;
    border: 1px solid black;
    border-radius: 15px;
}

.blog-preview h3 {
    margin-bottom: 0;
    color: #ffa949;
}

.blog-preview img {
    margin: auto;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.hover {
    transition: transform .2s;
}
.hover:hover {
    transform: scale(1.03);
}

/* ---------- HEADER ---------- */
.main-nav {
    margin-bottom: 1.45rem;
}

.header {
    box-shadow: 0 2px 2px #0000001f;
    z-index: 233;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    height: 3rem;
    will-change: transform;
    display: flex;
}

.header a {
    text-decoration: none;  
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    transition: all 0.3s ease-in;
}

.nav a {
    margin-left: 0.3rem;
    color: rgb(27, 27, 27);
    padding: 0.2rem 0.4rem;
    font-size: 0.9rem;
    box-shadow:  1px 1px 1px ;
    transition: all 0.3s ease-in;
    font-weight: 700;
}



.github {
    position: fixed;
    right: 0.7rem;
    top: 0.9rem;
}

.progress-bar{
    left: 0;
    top: 0;
    position: fixed;
    z-index: 455;
    background-color: transparent;
    height: 4px;
    width: 100%;
}

.bar{
    top: 0;
    position: absolute;;
    background: #ffa949;
    left: 0;
    height: 100%;
    width: 0;
}