* {
    box-sizing: border-box;
}

img {
    border-radius: 10px;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, .8);
}

body{
    border-bottom: 10px solid #ffa949;
    color: black;    
}

.main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

a:link {
    color: #ffa949;
    text-decoration: none;
}
a:visited {
    color: lightblue;
}

